.Main_Container{
  background-color: #00A564;
  padding: 120px 0px;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.Intro_Title_Wrapper{
  width: 50%;
  height: 100%;
}

.Intro_Image_Wrapper{
  width: 50%;
  height: 100%;
}

@media screen and (max-width: 760px) {
  .Main_Container {
    padding: 105px 0px;
  }
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .Main_Container {
  padding: 112px 0px;
  }
}