.Main_Container {
  background-color: #00a564;
  padding: 120px 0px;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.Intro_Title_Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  min-height: 555px;
  padding-bottom: 93px;
  color: white;
}

.Image_Contents {
  min-width: 100%;
  height: 65%;
}

.Intro_Image_Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-height: 300px;
  padding-bottom: 20px;
}

@media screen and (max-width: 760px) {
  .Main_Container {
    padding: 105px 0px;
  }

  .Image_Contents {
    width: 45%;
    min-height: 80%;
    padding-bottom: 60px;
  }

  .Intro_Image_Wrapper {
    min-height: 65%;
  }
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .Main_Container {
    padding: 112px 0px;
  }

  .Image_Contents {
    width: 40%;
    min-height: 72%;
    padding-bottom: 50px;
  }

  .Intro_Image_Wrapper {
    min-height: 72%
  }
}
