.Box_Container {
  width: 100%;
  display: flex;
}

.GIF_Image {
  width: 100%;
  height: 100%;
}

.Project_Time_Line {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #2f2f2f;
  opacity: 0.4;
}

.Project_Time_Line_Wrapper {
  flex: 0 0 16.6%;
}

.Title_Wrapper {
  display: flex;
  flex: 0 0 25%;
  max-width: 25%;
}

.Project_Title {
  color: #2f2f2f;
}

.Detaile_Wrapper {
  margin-left: 8.3%;
  flex: 0 0 51%;
}

.Information_Wrapper {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  color: #2f2f2f;
  padding-right: 30px;
}

.Link_Buttin {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 106px;
  height: 23px;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  color: #212529;
  background-color: #913aff;
  cursor: pointer;
  border: none;
  border: 1px solid #913aff;
  font-weight: 700;
  margin-top: 10px;
  color: white;
}

.Project_Information {
  color: #2f2f2f;
  opacity: 0.4;
  font-size: 14px;
}

@media screen and (max-width: 760px) {
  .Project_Time_Line_Wrapper {
    flex: 0 0 0;
    margin-bottom: 15px;
    width: 100px;
  }

  .Title_Wrapper {
    flex: 0 0 0;
    margin-bottom: 20px;
  }

  .Detaile_Wrapper {
    flex: 0 0 0;
    margin: 0;
    width: 100%;
  }

  .Link_Buttin {
    width: 93px;
    height: 18px;
  }
  .Information_Wrapper {
    padding: 0;
  }
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .Link_Buttin {
    width: 99px;
    height: 19px;
  }
}
