.Header_Container {
  position: fixed;
  height: 93px;
  background-color: #00a564;
  width: 100%;
  top: 0px;
  color: rgba(255, 255, 255, 0.52);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 3.75rem;
}

.Bugger_Icon_Container{
  display: none;
}

.Button_Container {
  display: flex;
  width: 45%;
}

.Button_Wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Logo_Container {
  width: 30%;
  cursor: pointer;
}

.Link_Button {
  width: "100%";
  display: "flex";
  align-items: "center";
  justify-content: "center";
}

@media screen and (max-width: 760px) {
  .Header_Container {
    height: 171px;
    padding: 0rem 1.563rem;
    font-size: 1rem;
  }

  .Logo_Container{
    width: 33%;
  }

  .Button_Container {
    display: none;
  }

  .Bugger_Icon_Container{
    display: flex;
  }
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .Header_Container {
    height: 121px;
  }

  .Button_Container {
    width: 65%;
  }
}
