.Intro_Title {
  color: #2f2f2f;
}

.Stack_Box_Container {
  margin-top: 20px;
}

.Stack_Box_Contents {
  width: 15%;
  color: white;
  margin-right: 20px;
}

.Stack_Box_Wrapper {
  width: 100%;
  display: flex;
}

.Stack_Title {
  color: #2f2f2f;
  margin-bottom: 15px;
}

@media screen and (max-width: 760px) {
  .Stack_Box_Contents {
    width: 45%;
    margin: 0px;
  }

  .Stack_Box_Wrapper {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .Stack_Box_Wrapper > :nth-child(3) {
    margin-top: 20px;
  }

  .Stack_Box_Wrapper > :nth-child(4) {
    margin-top: 20px;
  }

  .Stack_Box_Wrapper > :nth-child(5) {
    margin-top: 20px;
  }
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .Stack_Box_Contents {
    width: 20%;
  }
}
